body {
	/*background-color: grey;*/
	height: auto;

}


.all {
	height: 300px;
	width: 70%;
	margin-left: 60px;
	/*background-color: yellow;*/
	

}
.all::after {
	content: "";
	clear: both;
	display: table;
}

.container-top {


}
.first_line {
	height: auto;
	width: 500px;

	/*background-color: pink;*/
	display: flex;
	align-items: row;

}
h1 {
	font-size: 80px;

	display: inline-block;
	float: left; 
	
	clear: both;
}

.triangle {
	margin: auto; 
	height: 0px;
	width: 0px;
	border-top: 22px solid grey;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}


.card {
	display: inline-block;
}
.input-container {
	margin-top: 100px;
}


ul {
	margin-top: 20px;
	list-style: none;
	width: 100%;


}



li {
	


}


.design {
	width: 200px;
	height: 200px;
	transform: rotate(45deg);
	animation: pulse 5s infinite;
	/*animation-timing-function: ease-out; */
	/*animation-name: stretch;*/
	/*animation-delay: 2s;*/
	animation-direction: alternate;
}
@keyframes pulse {
	0% {
		background-color: #91ffb2;
		
  	}
  	50% {
  		background-color: #70f5ff;
  	}
  	100% {
    	background-color: #ff82a5;

  	}
}

.square {
	position: relative;
	left: 665px;
	top: 205px;
	height: 450px;
	width: 450px;
	background: linear-gradient(45deg, #1e5799 0%,#2989d8 0%,#42aaff 0%,#75ff3f 100%); 
	transform: rotate(45deg);
}

